html {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    padding: 0;
    margin: 0;
    background: gold;
}
/* grid layout */
*,
*:before,
*:after {
    box-sizing: inherit;
}

.grid {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.grid:before,
.grid:after,
.row:before,
.row:after {
    content: " ";
    display: table;
}

.grid:after,
.row:after {clear: both;}

[class*='col-']{
    width: 100%;
    float: left;
    min-height: 1px;
}

.col {
    padding: 1em;
    margin: 8px;
    background:  white;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    color: turquoise;
    text-align: center;
}

@media screen and (min-width:320px){

    .col-sm-1 {width: 8.33333%;}
    .col-sm-2 {width: 16.66667%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33333%;}
    .col-sm-5 {width: 41.66667%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33333%;}
    .col-sm-8 {width: 66.66667%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33333%;}
    .col-sm-11 {width: 91.66667%;}
    .col-sm-12 {width: 100%;}

}

@media screen and (min-width:640px){

    .col-md-1 {width: 8.33333%;}
    .col-md-2 {width: 16.66667%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33333%;}
    .col-md-5 {width: 41.66667%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33333%;}
    .col-md-8 {width: 66.66667%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33333%;}
    .col-md-11 {width: 91.66667%;}
    .col-md-12 {width: 100%;}

}

@media screen and (min-width:960px){

    .col-lg-1 {width: 8.33333%;}
    .col-lg-2 {width: 16.66667%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33333%;}
    .col-lg-5 {width: 41.66667%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33333%;}
    .col-lg-8 {width: 66.66667%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33333%;}
    .col-lg-11 {width: 91.66667%;}
    .col-lg-12 {width: 100%;}

}
/* container layout  */
.container {
    width: 100%;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
/* container-fluid layout   */
.container-fluid {
    width: 100%;
  }
  
  @media (min-width: 576px) {
    .container-fluid {
      max-width: 576px;
    }
  }
  
  @media (min-width: 768px) {
    .container-fluid {
      max-width: 768px;
    }
  }
  
  @media (min-width: 992px) {
    .container-fluid {
      max-width: 992px;
    }
  }
  
  @media (min-width: 1200px) {
    .container-fluid {
      max-width: 1200px;
    }
  }